body {
  background-image: url("http://i.imgur.com/NKAcL28.jpg");
  font-family: futura;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#player {
background: url("http://i.imgur.com/9nPTWsT.jpg?1");
background-repeat: no-repeat;
}

div.dice{
  float: left;
  width: 32px;
  background: #F5F5F5;
  border: #999 1px solid;
  font-size: 24px;
  text-align: center;
  margin: 3px;
}

div.marker1{
  background: pink;
  width: 32px;
  float: center;
}

.squares {
    height: 100px;
    width: 100px;
}

#container {
    float: auto;
}

#container2 {
  float: auto;
}

#square1 {
  background-color: red;
}

#square2 {
  background-color: blue;
}

#square3 {
  background-color: red;
}

#square4 {
  background-color: blue;
  float: left;
}

#square5{
  background-color: red;
  float: left;
}

#square6{
  background-color: blue;
  float: left;
}

#square7{
  background-color: red;
  float: left;
}

#square8{
  background-color: blue;
  float: left;
}
