@media screen and (max-width: 500px) {
    #pagewrap {
        width: 94%;
    }
    #content {
        width: 65%;
    }
    #sidebar {
        width: 30%;
    }
}

body {
  font-family: futura;
  background-image: url("http://i.imgur.com/WO2D42B.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#player {
  background: url("http://i.imgur.com/5e6hhHB.png?2");
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
}

#player2 {
  background: url("http://i.imgur.com/H9hEiEI.jpg?1");
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
}

div.dice{
  float: left;
  width: 32px;
  background: #F5F5F5;
  border: #999 1px solid;
  font-size: 24px;
  text-align: center;
  margin: 3px;
}

.squares {
  height: 120px;
  width: 120px;
  float: left;
  background: url("http://i.imgur.com/dNrFLjq.jpg?1");
}

#container {
  position: absolute;
}

#square1 {
  background-image: url("http://i.imgur.com/dNrFLjq.jpg");
  object-fit: contain;
}

#square2 {
}

#square3 {
  background-color: red;
}

#square4 {
  background-color: blue;
}

#square5{
  background-color: red;
}

#square6{
  background-color: blue;
}

#square7{
  background-color: red;
}

#square8{
  background-color: blue;
}

#square9{
  background-color: red;
}

#square10{
  background-color: blue;
}

#square11{
  background-color: red;
}

#square12{
  background-color: blue;
  f
}

#square13{
  background-color: red;
}

#square14{
  background-color: blue;
}

#square15{
  background-color: red;
}

#square16{
  background-color: blue;
}

#square17{
  background-color: red;
}

#square18{
  background-color: blue;
}

#square19{
  background-color: red;
}

#square20{
  background-color: blue;
}

#square21{
  background-color: red;
}

#square22{
  background-color: blue;
}

#square23{
  background-color: red;
}

#square24{
  background-color: blue;
}

#square25{
  background-color: red;
}

#square26{
  background-color: blue;
}

#square27{
  background-color: red;
}

#square28{
  background-color: blue;
}

#square29{
  background-color: red;
}

#square30{
  background-color: blue;
}

#square31{
  background-color: red;
}

#square32{
  background-color: blue;
}

#square33{
  background-color: red;
}

#square34{
  background-color: blue;
}

#square35{
  background-color: red;
}

#square36{
  background-color: blue;
}

#square37{
  background-color: red;
}

#square38{
  background-color: blue;
}

#square39{
  background-color: red;
}

#square40{
  background-color: blue;
}

#square41{
  background-color: red;
}

#square42{
  background-color: blue;
}

#square43{
  background-color: red;
}

#square44{
  background-color: blue;
}

#square45{
  background-color: red;
}

#square46{
  background-color: blue;
}

#square47{
  background-color: red;
}

#square48{
  background-color: blue;
}

#square49{
  background-color: red;
}

#square50{
  background-color: blue;
}
